body {
  background: #050505;
  color: white;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

button:focus {
  outline: none;
}

.imageContainer {
  display: flex;
  justify-content: center;
  gap: 25px;
  transition: transform 1s ease;
  margin-top: 15px;
}

.imageContainer:hover {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.outerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 400px;
  height: 500px;
  border-radius: 10px;
}

.container .rpcForm {
  display: flex;
  flex-direction: column;
}

.container .input {
  font-family: "Work Sans", sans-serif;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  border-bottom: white 1px solid;
  outline: none;
  color: white;
  width: 250px;
  height: 25px;
  transition: all 0.3s ease;
}

.container .input:focus {
  background-color: #101010;
  border-radius: 3px;
  border-bottom: #101010 1px solid;
}

.container .rpcButton {
  font-family: "Work Sans", sans-serif;
  background-color: #252525;
  color: white;
  border: none;
  margin-top: 50px;
  width: 250px;
  height: 35px;
  border-radius: 25px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.container .rpcButton:hover {
  background-color: #303030;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modalButton {
  margin-top: 5px;
  font-family: "Work Sans", sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
}

.modalButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.container label {
  margin-top: 25px;
  font-size: 18px;
}

.sContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: #151515;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  padding: 15px;
  flex-wrap: wrap;
  flex-shrink: 10;
}

.navIcon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}

.navIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 25%;
}

.active {
  border: 2px solid #007bff;
  box-shadow: 0px 0px 10px;
}

.rpcAvatar {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  position: relative;
}

.rpcProfile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.rpc {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  height: 125px;
  width: 500px;
  background-color: #252525;
  margin-top: 83px;
  border-radius: 10px;
  flex-direction: column;
}

.rpcProfileDetails {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
}

.rpcStatus {
  margin-left: 15px;
  font-size: 15px;
  display: flex;
  color: white;
}

.rpcStatusTitle {
  margin-left: 5px;
  margin-bottom: -15px;
  font-size: 15px;
  display: flex;
  color: white;
}

#rpcStatusTimestamp {
  color: #80c968;
}

.presence {
  display: flex;
  flex-direction: row;
}

.presenceImage {
  border-radius: 50%;
  margin-left: 15px;
  width: 64px;
  height: 64px;
}

.gameDetails {
  margin-left: 5px;
}

.varModal {
  font-family: "Work Sans", sans-serif;
  background-color: #151515;
  border: none;
  width: 600px;
  height: 300px;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.varModal .varDescription {
  font-size: 15px;
}

.varModal .varModalClose {
  color: white;
  font-size: 25px;
  border: none;
  float: right;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-top: -55px;
  transition: all 150ms linear;
}

.varModal .varModalClose:hover {
  background-color: red;
}

.varModalHeader {
  margin-top: -30px;
}

.varModal .varHighlight {
  color: palevioletred;
  margin-bottom: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #303030;
}
